.orders{
  .orders-tools{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.order-form{
  .bootstrap-datetimepicker-widget .picker-switch a{
    color: white;
  }
}